body{
    margin:0px;
    background-color: rgb(78, 78, 78);
    font-family: 'Playfair Display', serif;
    color:rgb(159, 115, 3);
    font-weight: bold;
}

.entete{
    background-color: black;
    color:rgb(159, 115, 3);
    display: flex;
    align-items: center;     /* Centre verticalement */
    height: 100px;           /* Nécessaire pour voir l’effet */
    border: 1px solid black; /* Pour visualiser le div */
    
}
.entete h1 {
    margin: 0;
    position: absolute;
    right: 43%;
}


.fieldset_connexion{
    border:4px solid rgb(159, 115, 3);
    width:300px;
    margin: 0 auto;
    margin-top:20px;
    background-color:black;
}
.inscription{
    text-align: center;
}
.log{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    background-color: floralwhite;
    border-radius: 5px;
    border-color:black;
}

label {
    margin-bottom: 5px;
}

legend{
    font-weight:bold;
    background-color: floralwhite;
    border-radius: 5px;
}
.legend_connexion{
    border: 4px solid rgb(159, 115, 3);
}

.legend_inscription{
    border: 4px solid rgb(159, 115, 3);
}

.mdp{
    position:relative;
    display:inline-block;
}
.bouton_mdp{
    position: absolute;
    right:10;
    top:0;
    height:100%;
    background-color: floralwhite;
    border-radius: 5px;
    border-width: 2px;
    border-color:black;
}

#password{
    width:70%;
}



#oeil{
    height:100%;
}

.fieldset_inscription{
    border:4px solid rgb(159, 115, 3);
    width:300px;
    margin: 0 auto;
    margin-top:20px;
    background-color:black;
}
.connexion{
    text-align: center;
}
.register{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.submit{
    margin-top:40px;
    text-align: center;
}

#bouton_submit{
    background-color: floralwhite;
    border-radius: 5px;
    border-width: 2px;
    border-color:black;
}

#bouton_submit:hover {
    background-color: grey;
    cursor: pointer;
}


.erreur{
    text-align: center;
    color:red;
}

.succes{
    text-align:center;
    color:green;
}
.logo {
    height: 80px;
    margin-right: 20px;
}

a{
    color:rgb(159, 115, 3)
}

.bienvenue {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}
