body{
    margin:0px;
    background-color: rgb(78, 78, 78);
    font-family: 'Playfair Display', serif;
    color:rgb(204, 150, 12);
    font-weight: bold;
}

.entete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: rgb(204, 150, 12);
    display: flex;
    align-items: center;
    border: 1px solid black;
    z-index: 1000; /* au-dessus de la barre latérale */
}

.entete h1 {
    margin: 0;
    position: absolute;
    right: 43%;
}

.contenu-principal {
    margin-top: 100px;      /* espace pour l’entête */
    margin-left: 250px;     /* espace pour la barre latérale */
    padding: 20px;
    min-height: 100vh;
}

.contenu-sans-barre-lateral{
    margin-top:100px;
    padding:20px;
}

.barre-laterale {
    color:black;
    position: fixed;
    top: 100px; /* en dessous de l’entête */
    left: 0;
    width: 220px;
    height: calc(100vh - 100px); /* toute la hauteur sauf l'entête */
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 999; /* juste en dessous de l’entête */
}

.bienvenue {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}




.liste-contacts {
    list-style-type: none;
    padding-left: 0 ;
}

.item-lateral {
    display: block;
    background-color: floralwhite;
    padding: 12px 0; /* plus de padding horizontal */ 
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.item-lateral:hover {
    background-color: rgb(230, 220, 173);

}

.bouton-lateral {
    display: block;
    width: 90%;
    padding: 10px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.bouton-lateral:hover {
    background-color: rgb(204, 150, 12);
    color: white;
    cursor: pointer;
}

fieldset{
    border:4px solid rgb(204, 150, 12);
    width:300px;
    margin: 0 auto;
    margin-top:20px;
    background-color:black;
}
.inscription{
    text-align: center;
}
.fieldset_div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    background-color: floralwhite;
    border-radius: 5px;
    border-color:black;
}

label {
    margin-bottom: 5px;
}

legend{
    font-weight:bold;
    background-color: floralwhite;
    border-radius: 5px;
    border: 4px solid rgb(204, 150, 12);
}

.mdp{
    position:relative;
    display:inline-block;
}
.bouton_mdp{
    position: absolute;
    right:10;
    top:0;
    height:100%;
    background-color: floralwhite;
    border-radius: 5px;
    border-width: 2px;
    border-color:black;
}

#password{
    width:70%;
}



#oeil{
    height:100%;
}

.connexion{
    text-align: center;
}

.submit{
    margin-top:40px;
    text-align: center;
}

#bouton_submit{
    background-color: floralwhite;
    border-radius: 5px;
    border-width: 2px;
    border-color:black;
}

#bouton_submit:hover {
    background-color: grey;
    cursor: pointer;
}


.erreur{
    text-align: center;
    color:red;
}

.succes{
    text-align:center;
    color:green;
}
.logo {
    height: 80px;
    margin-right: 20px;
}

a{
    color:rgb(0, 0, 0)
}

.conteneur-commentaires{
    padding:10px;
    color:black;
    border:4px solid black;
    background-color: floralwhite;
}

.commentaires{
    padding:9px;
    border:4px solid rgb(204, 150, 12);
    background-color: white;
    margin-right:20px;
    margin-left:20px;
}